body {
    background: rgb(75,50,45);
    background: radial-gradient(circle, rgba(75,50,45,1) 40%, rgba(56,40,43,1) 100%);
}

.adminjobreqtableall {
    text-align: center;
    justify-content: center;
    list-style: none;
    
}

.jobreqlink {
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}

.jobreqlink,
a.jobreqlink {
  color: #fff;
  background-color: #eb6100;
}
.jobreqlink:hover,
a.jobreqlink:hover {
  color: #fff;
  background: #f56500;
}