* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #d9d9d9;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.logo img {
    max-width: 100%;
} 

.sidebar.active {
    width: 240px;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
    padding-right: 18px;
    padding-top: 5px;
}

.sidebar.active #btn {
    left: 90%;

}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar.active .link_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .link_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar .logo_content .logo {
    color: black;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.sidebar #btn {
    color:  black;
    position: absolute;
    left: 55%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.navdiv ul {
    margin-top: 20px;  
    
}

.navdiv ul li {
    height: 50px;
    position: relative;
    width: 100%;
    margin: 0 5px;
    line-height: 50px;
    list-style: none;
    display: block;
}

.navdiv ul li .tooltip {
    position: absolute;
    height: 35px;
    width: 122px;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.navdiv ul li:hover .tooltip {
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}

.navdiv ul li a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.navdiv ul li a:hover {
    color: #11101d;
    background: burlywood;
}

.navdiv ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.navdiv ul {
    padding-left: 0;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width:100%;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #d9d9d9;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    background: burlywood;
    border-radius: 12px;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_role {
    margin-left: 10px;
    color: black;
}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .role {
    font-size: 12px;
}

.profile #log_out {
    color:black;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: burlywood;
}

.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .profile #log_out {
    left: 88%;
}

.sidebar.active .profile #log_out {
    background: none;
}
